html {
    direction: rtl;
    unicode-bidi: bidi-override;
}
* { text-align: right !important; }
ul, ol { padding-right:20px; padding-left:0!important; }
.flex, .d-flex { flex-direction: row-reverse !important; }
.float-left { float:right!important; }
.float-right { float:left!important; }
.ml-auto { margin-right:auto!important; margin-left:0!important; }
.mr-auto { margin-left:auto!important; margin-right:0!important; }
